.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #252424;
  color: white;
}

.header button {
  cursor: pointer;
  height: fit-content;
  padding: 5px 20px;
  font-size: large;
  background-color: transparent;
  border: none;
  border: 1px solid orange;
  color: orange;
  border-radius: 5px;
}

.header button:hover {
  background-color: #ff4500;
  color: white;
  border: none;
}

@media screen and (max-width: 510px) {
  .header h2 {
    font-size: 22px;
  }

  .header button {
    padding: 4px 16px;
    font-size: 18px;
  }
}
