.login {
  background-image: url(https://miro.medium.com/v2/resize:fit:1100/format:webp/1*6Jp3vJWe7VFlFHZ9WhSJng.jpeg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContent {
  color: white;
  padding: 8px;
  /* From https://css.glass */
  background: rgba(240, 214, 116, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(240, 214, 116, 0.3);
}

.loginForm {
  padding: 5px;
  /* From https://css.glass */
  background: rgba(84, 79, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 3px solid rgba(84, 79, 255, 0.3);
}

.loginFormHeading {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: x-large;
  margin-top: 8px;
}

.inputsAndButton {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.inputsAndButton input {
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid wheat;
  color: white;
  padding: 5px;
  font-size: large;
}

.inputsAndButton input::placeholder {
  color: aliceblue;
}

.inputsAndButton input:focus {
  outline: none;
}

.inputsAndButton button {
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.inputsAndButton button:hover {
  background-color: wheat;
}

.inputsAndButton p {
  text-align: center;
}

.loginForm a {
  color: aliceblue;
}

.loginForm a:hover {
  color: wheat;
}

.loginContent h3 {
  font-weight: 100;
}

.loginForm > p:last-of-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  font-size: large;
}

@media screen and (max-width: 510px) {
  .loginContent h1 {
    font-size: 25px;
  }

  .loginContent {
    padding: 5px;
    width: 80%;
  }
}
