.books {
  background-color: #3f3f3f;
  height: 100vh;
}

.booksTsx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booksTsxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBookButton {
  cursor: pointer;
  width: 100%;
  padding: 7px 12px;
  font-size: small;
  background: transparent;
  background-color: rgb(26, 142, 209);
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.addBookButton:hover {
  background-color: #0530ad;
  color: white;
}

.quote {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quoteBox p {
  margin: 0;
}

.quoteBox {
  margin: 0;
  background-image: linear-gradient(
    to right,
    #006faf,
    #8564b4,
    #cb518e,
    #e25a51,
    #c88200
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.quoteBox p:nth-child(1) {
  font-size: 15px;
  margin-bottom: 5px;
}

.quoteBox p:nth-child(2) {
  font-style: italic;
  font-size: 12px;
}

@media screen and (max-width: 510px) {
  .quote {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .quoteBox {
    padding: 3px;
  }

  .quoteBox p:nth-child(1) {
    font-size: 13px;
  }

  .quoteBox p:nth-child(2) {
    font-size: 10px;
  }
}
